* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKfw72nU6AFw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoCxCvjsGyNPYZvgw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

:root {
    --dark: rgb(55, 55, 75);
    --light: rgb(130, 245, 245);
}

body {
    /*height: 100vh;*/
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 2fr 2fr 1.5fr 0.5fr 1fr 2fr 0.5fr;
    grid-template-rows: 0.5fr 1.25fr 2fr 3fr 1.25fr 1.25fr 1fr;
    grid-template-areas:
   
      "header header header header header header header"
      "bi bi bi bi bi bi bi"
      "as1 sec1 sec1 sec1 sec1 sec1 none"
      "as2 sec2 sec2 sec2 sec2 sec2 none"
      "as2 sec3 sec3 sec4 sec4 sec4 none"
      "as2 sec5 sec5 sec6 sec6 sec6 none"
      "as3 sec7 sec7 sec7 sec7 sec7 none"
      ;
  }
  
h1 {
    color: var(--dark);
    font-size: 2.5em;
}

.bi {
    overflow: hidden;
    background-color: lightseagreen;
}

/*Header w/ nav*/
header {
    background-color: var(--dark);
    grid-area: header;
  }

h1#head {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: var(--light);
    margin-bottom: 5%;
    padding: 0;
}

nav.header {
    grid-row: 1 / 2;
    grid-column: 2 / 7;
    place-self: center end;              
}

nav.header a {
    border-bottom:3px solid rgb(83, 199, 199);
    padding: 2px 3px;
    margin: 5px;
}

nav.header a:link {
    text-decoration: none;
    color: var(--light);
}

nav.header a:visited {
    text-decoration: none;
    color: var(--light);
}

/*Background image w/ subtitile*/
#bi1 {
    background-image: url(./images/wall-bluegreen.jpg);
    grid-area: bi;
  }

h2.subtitle {
    grid-row: 2 / 3;
    grid-column: 5 / 7;
    align-self: end;
    margin-bottom: 5%;
    font-size: 1.7em;
    color: var(--dark);
    background-color: var(--light);
}

/*Left Sidebar*/
aside {
    place-self: stretch;
    border-right: 2px solid var(--dark);
    margin: 5% 0;
}       

h1.title {
    place-self: start stretch;
    text-align: right;
    padding-right: 5px;
}

#as1 {
    grid-area: as1;
  }


#as2 {
    grid-area: as2;
  }
  
#as3 {
    grid-area: as3
  }

/*Main Page*/

.sec, #sec1, #foot, nav.bottom {
    margin: 10px 0 5px 15px;
}

        /*About-Me*/  
#sec1 {
    grid-area: sec1;
  }

        /*Work*/

.sec {
    border: 5px solid var(--light);
}

a.caption2 {
    background-color: var(--light);
    margin: 0 0 15px 15px;

}

.sec a:link,
a.caption2:link {
    text-decoration: none;
    color: var(--dark);
}
.sec a:visited,
a.caption2:visited {
    text-decoration: none;
    color: var(--dark);
}

#sec2 {
    background-color: lightgray;
    grid-area: sec2;
    background-image: url(./images/first_app.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

a#cap2{
    grid-row: 4;
    grid-column: 2;
    align-self: end;
    background-color: var(--light);
}

#sec3 {
    background-color: slategray;
    grid-area: sec3;
    background-image: url(./images/second_app2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -50px;
  }

a#cap3{
    grid-row: 5;
    grid-column: 2;
    align-self: end;
    background-color: var(--light);
}

#sec4 {
    background-color: slategray;
    grid-area: sec4;
    background-image: url(./images/third_app.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

a#cap4{
    grid-row: 5;
    grid-column: 4 / 6;
    align-self: end;
    background-color: var(--light);
}

#sec5 {
    background-color: slategray;
    grid-area: sec5;
    background-image: url(./images/fourth_app.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

a#cap5{
    grid-row: 6;
    grid-column: 2;
    align-self: end;
    background-color: var(--light);
}

#sec6 {
    background-color: slategray;
    grid-area: sec6;
    background-image: url(./images/wall-bluegreen.jpg);
    /*background-size: 100%;*//*will need when insert project image*/
    background-repeat: no-repeat;
}

a#cap6 {
    grid-row: 6;
    grid-column: 4 / 6;
    align-self: end;
    background-color: var(--light);
}

        /*Contact Me*/
footer {
    grid-area: sec7;
  }

nav.bottom {
    grid-row: 7;
    grid-column: 2 / 7;
    place-self: center;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

nav.bottom a {
    border-bottom:3px solid var(--dark);
    padding: 2px 3px;
    margin: 5px;
}

nav.bottom a:link {
    text-decoration: none;
    color: var(--dark);
}

nav.bottom a:visited {
    text-decoration: none;
    color: var(--dark);
}


        /*Mobile display*/
@media screen and (max-width: 480px) {
    body {
        width: 100%;
        text-size-adjust: auto auto ;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "h1 h1 h1"
        "nav1 nav1 nav1"
        "as1 as1 as1"
        "sec1 sec1 sec1"
        "as2 as2 as2" 
        "none sec2 none"
        "none sec3 none"
        "none sec4 none"
        "none sec5 none"
        "none sec6 none"
        "as3 as3 as3" 
        "nav2 nav2 nav2"
      ;
  }

    header {
        display: none;
        align-items: stretch;
    }

    #bi1 {
        display: none;
    }

    h2 {
        display: none;
    }


        /*Header*/
    h1#head {
        grid-area: h1;
        place-self: stretch;
        text-align: center;
        margin: 0;
        background-image: url(./images/wall-bluegreen.jpg);
        color: var(--light);
    }

    nav.header {
        grid-area: nav1;
        height: 100%;
        padding: 2%;
        place-self: center stretch;
        background-color: var(--dark);              
    }

    nav.header a {
        grid-column: 1 / 2;
        grid-row: 2;
        place-self: center;
        border-bottom:3px solid rgb(83, 199, 199);
        padding: 2px 3px;
        margin: 5px;
        font-size: 0.5em;
    }

        /*section titles*/
    aside {
        place-self: stretch;
        border-bottom: 2px solid var(--dark);
        border-right: 0;
        margin: 0;
    }       
    
    h1.title {
        place-self: end center;
        text-align: center;
        padding-right: 0;
        padding-top: 10px;
        font-size: 2em;
    }
    
        /*About me*/
    #sec1 {
        margin: 10px 20px -10px 20px;
    }

        /*Work*/
    a.sec {
        place-self: center start;
        width: 100px;
        margin: 10px 0;
    }
    
    a.caption2 {
        place-self: end start;
        margin: 0;
        font-size: 0.5em;
    }

    /* a.caption2 div {
        font-size: 0.5em;
        place-self: end start;
        margin: 0;
    } */

    a#cap2{
        grid-row: 6;
        grid-column: 2;
        background-color: var(--light);
    }

    a#cap3{
        grid-row: 7;
        grid-column: 2;
        background-color: var(--light);
    }

    a#cap4{
        grid-row: 8;
        grid-column: 1;
        align-self: end;
        background-color: var(--light);
    }

    a#cap5{
        grid-row: 9;
        grid-column: 1;
        align-self: end;
        background-color: var(--light);
    }

    a#cap6 {
        grid-row: 10;
        grid-column: 1;
        align-self: end;
        background-color: var(--light);
    }

        /*Contact me*/
    nav.bottom {
        grid-area: nav2;
        place-self: center;
    }

    nav.bottom a {
        border-bottom:3px solid var(--dark);
        padding: 2px 3px;
        margin: 5px;
        text-align: center;
        font-size: 0.5em;
    }
}
